
@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body{
  	height: 2000px; 
  	font-family: 'MyriadProRegular'; 
  	text-align: left;
  	color: #333333;
 
}
.container{
	width: 560px;
	margin-right: auto;
	margin-left: auto;
	position: relative;	
	font-size: 12px;
}
.pages{
	position: absolute;
	width: 519px;
	height: 746px;
	border: 2px solid black; 
}
.page-1{
	background: #acacac; 
    right:17px;
    top:39px;
}
.page-2{
	background: #cccccc; 
    right:36px;
    top:20px;
}
.page-3{	
	right: 57px;
	background: #ebebeb; 
}
.bookmarks{
	position: absolute;
	width: 107px;
	height: 31px;
	border: 2px solid black; 
	border-radius: 0 10px 10px 0;
}
.bookmark-1{
	right: -18px;
	top:46px;
	background: #00aeef;
}
.bookmark-2{
	right: -50px;
	top:41px;
	background: #39b54a;	
}
.bookmark-3{
	background: #f68e56;
	top:38px;
	right: -84px;	
}
.content{
	margin-left:30px;
	margin-right:30px;
	margin-top:32px;	
}
article:nth-last-child(1) {
	display: inline-block;
}
.content article{
	margin-top: -5px;			
}
#image-1{
	margin-top:2px;	
	margin-left: 2px;	
	margin-right: 21px;
	float: left;	
}
#image-2{	
	margin-top:2px;	
	margin-right:2px;
	margin-left: 20px; 
	float: right;	
}
h1{	
	font-weight: normal;
	font-size: 24px;
}
h2{	
	font-weight: normal;
	font-size: 18px;
}
.share{
	position: fixed;	
	bottom: 0px;
	right: 0px;
	background: #fbaf5d;
	border: 1px solid black;
	width: 87px;
	height: 69px;	
}